main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ensemble {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    margin: 10px;
    justify-content: center;
}

.bouton-suivant {
    background: #ef3340;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #282e3e;
    color: #ffffff;
    margin: 30px 0 20px 0;
}
.position-bouton-suivant {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.input-nom {
    background: #1e232f;
    border: 1px solid #8290b0;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: #ffffff;
}

p {
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.bienvenue {
    width: 100%;
    font-weight: bold;
    font-size: 48px;
    line-height: 74px;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    display: block;
    align-items: center;
    color: #ffffff;
}

.titre2 {
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.disposition-bouton {
    align-items: center;
    padding: 0px;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    text-align: end;
}

.btn-connecter {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    padding: 10px 25px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 15px 0px;
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    background: #1e232f;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.btn-register {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    padding: 10px 25px;
    border: 2px solid #ffffff;
    background: #ffffff;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px 0px;
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #1e232f;
}

.zone-bleu {
    background: #282e3e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 25px 25px;
    padding: 0px 30px 10px 30px;
    width: 450px;
    justify-content: center;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.lien-more {
    text-decoration: none;
    color: #ef3340;
}

.lien-more:hover {
    text-decoration: underline;
}

.disposition-bouton a {
    text-decoration: none;
}

.disposition-bouton a:hover {
    transform: scale(1.05);
}

input {
    color: white;
    font-size: 15px;
    padding-left: 10px;
}
