html {
    margin: 0;
    font-family: "Overpass", sans-serif;
    overflow-x: hidden;
}

body {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#nav-bar {
    position: fixed;
    top: -50px;
    list-style-type: none;
    width: 100%;
    background-color: #282e3e;
    margin: 0;
    height: 130px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.25);
}

#nav-bar>li img {
    height: 60px;
    margin-left: 130px;
    margin-top: 40px;
    transform: translate(-25%, -25%);
}

input {
    color: white;
    font-size: 15px;
    padding-left: 10px;
}

.informations,
.lastviews,
.reccos {
    width: 80%;
    background-color: #282e3e71;
    margin: 100px;
    margin-bottom: 25px;
    border-radius: 5px;
    display: flex;
}

.informations {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}

.categorie-informations{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: #282e3e71;
}

.informations .pp {
    width: 150px;
    height: 150px;
    margin: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
}

.informations .pp img {
    width: 100%;
}

.informations .text h1 {
    margin-top: 60px;
    margin-bottom: -10px;
}

.informations .text h2:nth-child(2) {
    margin-bottom: 30px;
    font-size: 20px;
}

.lastviews h1,
.reccos h1 {
    margin-left: 50px;
}

li {
    list-style: none !important;
    color: #FFF;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

.genres{
    margin-left: 20px;
}


.genres ul {
    background-color: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.genres ul li {
    list-style: none;
    line-height: 44px;
    float: left;
    background-color: none;
}

.genres ul li a {
    color: #FFF;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}


.button-valide {
    display: flex;
    padding: 10px 20px;
    /* Red */
    background: #EF3340;

    /* Ombre Subtile */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: #EF3340;

    font-family: overpass;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;
    justify-content: end;
}

.logged-out {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPrincipal{
    display: flex;
}